
h2, h5, h6{
    text-align: center;
}
.texto-verde{
 color: #198754;
}



#seccion-1{
    filter: brightness(80%);
    text-align: right;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration-color: #fff;
    
}
#seccion-2{
    padding: 2% 5%;   
}

#seccion-4{
      padding:5% 15%;
}

footer {
    position: relative;
    padding: 2% 5%;
    clear: both;
    background: #1b4f72;
    text-align: center;
    color: #fff;
}