
h2, h5, h6{
    text-align: center;
}

h4{
    text-align: end;
}
.texto-verde{
 color: #198754;
}

.texto-card{
    text-align: end;
    padding: 10%;
}

.card-img1{
    opacity: 0.7;
}

#seccion-1{
    text-align: end;  
}

#seccion-2{
    padding: 2% 5%;   
}

#seccion-4{
      padding:5% 15%;
}

footer {
    display: flex;
    position: relative;
    padding: 2% 5%;
    clear: both;
    background: #1b4f72;
    text-align: center;
    color: #fff;
}